/* Add your CSS styles here */

.add-todo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-todo-input {
  padding: 5px;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-label {
  font-size: 10px;
  margin-bottom: 3px;
}

.add-todo-checkbox {
  transform: scale(1);
}

.add-todo-button {
  padding: 10px;
  font-size: 16px;
}

.except-button
{
  background-color: rgba(31, 195, 245, 0.966);
  color: white;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 12%;
}

.messenger-button {
  background-color: rgba(21, 129, 201, 0.63);
  color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 12%;
  border: none;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.popup-input-item {
  display: flex;
  flex-direction: column;
}

.popup-input-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.popup-input {
  padding: 5px;
  font-size: 14px;
}

.popup-textarea {
  padding: 5px;
  font-size: 14px;
  height: 3em;
  overflow-y: scroll;
}

.close-popup-button {
  background-color: rgb(164, 245, 14);
  color: white;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.app {
  padding: 10px;
}

.header {
  background-color: #fcce01; /* Updated header color */
  color: black;
  padding: 5px 10px; /* Reduced height */
  text-align: left;
  height: 65px;
  margin-bottom: 0px; /* Space between header and navbar */
  display: flex;
  align-items: center;
}

.header-logo {
  height: 130%; /* Scale down to 20% of original size */
  margin-right: 10px;
  margin-top: 10px;
}


.navbar {
  background:#f8cc09;
  padding: 10px 20px;
}

.navbar-title {
  color: black;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-item {
  margin: 5px 10px;
  padding: 10px;
  background-color: #f7e708;
  border: 1px solid hsl(56, 91%, 50%);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #aff70a;
  color: black;
}

.nav-item.active {
  background-color: #010a14;
  color: rgb(248, 244, 7);
}

.todos-container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #F0F0F0;
  flex-wrap: wrap;
}

.todo-details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  gap: 10px;
}

.delete-button,
.edit-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-button img,
.edit-button img {
  width: 20px;
  height: 20px;
}

.edit-input-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}

.edit-input {
  flex-grow: 1;
  padding: 5px;
}

.save-button {
  padding: 5px 10px;
}

.todo-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.tab-content {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #eeff00;
  border-radius: 4px;
  background-color: hsla(60, 74%, 5%, 0.979);
  color: #d4f70a;
}

.tab-content-text {
  font-size: 20px; /* Adjust the font size here */
  font-weight: 400;
}

/* Popup for Messenger */
.large-popup {
  width: 80%;
  height: 80%;
}

.large-popup-content {
  max-height: 100%;
  overflow-y: auto;
}

.large-popup-input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
