/* Add your CSS styles here */

.add-todo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-todo-input {
  padding: 5px;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.checkbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-label {
  font-size: 10px;
  margin-bottom: 3px;
}

.add-todo-checkbox {
  transform: scale(1);
}

.add-todo-button {
  padding: 10px;
  font-size: 16px;
}

.except-button {
  padding: 10px;
  background-color: rgb(114, 170, 235);
  color: white;
  border: none;
  cursor: pointer;
  height: 20%; /* Ensure the button height fits the content */
  width:  60pt;
  border-radius: 10%;
}

.except-button:hover{
  background-color: rgb(114, 227, 235);
  color: rgb(4, 4, 37);
}


.messenger-button {
  padding: 10px;
  background-color:rgb(114, 170, 235);
  color: white;
  border: none;
  cursor: pointer;
  height: 20%; /* Ensure the button height fits the content */
  width:  60pt;
  border-radius: 10%;
}

.messenger-button:hover{
  background-color: rgb(114, 227, 235);
  color: black;
}



.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: skyblue;
  border-color: gray;
  color: rgb(9, 9, 34);
  
}

.popup-input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.popup-input-item {
  display: flex;
  flex-direction: column;
  
}

.popup-input-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.popup-input {
  padding: 5px;
  font-size: 14px;
}

.popup-textarea {
  padding: 5px;
  font-size: 14px;
  height: 3em;
  overflow-y: scroll;
}

.close-popup-button {
  background-color: rgb(21, 212, 21);
  color: white;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.app {
  padding: 10px;
}

.header {
  background-color: #fcce01; /* Updated header color */
  color: black;
  padding: 5px 10px; /* Reduced height */
  text-align: left;
  height: 85px; /* Reduced height by 20% */
  margin-bottom: 0px; /* Space between header and navbar */
  display: flex;
  align-items: center;
  width: 100%; /* Full width of the screen */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}


.header-logo {
  height: 121%; /* Scale down to 20% of original size */
  margin-right: 5px;
  margin-top: 5px;
}

.title {
  background-color: #fcce01; /* Updated background color to match header */
  color: black;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.navbar {
  background: #f8cc09;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.navbar-title {
  color: black;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-item {
  margin: 5px 10px;
  padding: 10px;
  background-color: #f7e708;
  border: 1px solid hsl(56, 91%, 50%);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #aff70a;
  color: black;
}

.nav-item.active {
  background-color: rgb(197, 250, 4);
  color: black);
}

.todos-container {
  margin: 5px 0;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  background-color: rgb(13, 14, 1);
  color: rgb(150, 181, 194);
  width: auto;
  border-radius: 5pt;
}

.todo-details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  
}

.button-container {
  display: flex;
  gap: 10px;
}

.delete-button,
.edit-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-button img,
.edit-button img {
  width: 20px;
  height: 20px;
}

.edit-input-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  margin-top: 10px; /* Added more space below input lines */
}

.edit-input {
  flex-grow: 1;
  padding: 5px;
}

.save-button {
  padding: 5px 10px;
}

.todo-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.tab-content {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #88c1d8;
  border-radius: 4px;
  background-color: rgb(133, 208, 238);
  color: white;
  transform: translateY(-16%);
}


.tab-content-text {
  font-size: 20px; /* Adjust the font size here */
  font-weight: 400;
}

/* Popup for Messenger */
.large-popup {
  width: 80%;
  height: 80%;
  background-color: skyblue;
}

.large-popup-content {
  max-height: 100%;
  overflow-y: auto;
  background-color: skyblue;
  font-size: xx-large;
  font-weight: 200;
  color: white;

}

.large-popup-input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: skyblue;
  color: blue;
  border-color: gray;
  border: 5%;
  font-size: xx-large;
  font-weight: 1000;
}
